body {
    background-color: rgba(175, 135, 24, 0.719);
}

#container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}



#titulo h2 {
    text-align: center;
}


menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
    padding: 10px;
}

#capa {
    width: auto;
}


#capa img {
    width: 100%;
    height: 500px;
}

.imagens_promo h3 {
    text-align: center;
}

.imagens_promo img {
    width: 300px;
    height: 300px;
}

.imagens_promo {
    display: inline;
    padding: 10px;
}
#central{
    text-align: center;
}
.rodape2{
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    height: 300px;
    width: 350px;
}
.rodape2 img{
    width: 45px;
    height: 45px;
} 
.rodape2 ul{
    list-style: none;
}
#rodape{

    background-color: aqua;
    color: white;
    height: 300px;
}
#rodape3{
    background-color: blue;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}
#menu ul li a{
    text-decoration: none;
    color: salmon;
}
.y {
    padding: 30px;
}
.y img{
    height: 200px;
}
#tabela{
    text-align: left;
    border: solid 1px red;
    background-color: darkcyan;
}
#tabela th, #tabela td{
    text-align: left;
    border: solid 1px snow;
}
#canela{
    text-align: center;
    border: solid 1px red; 
    background-color:chocolate;
  }
#canela th, #canela td{
    text-align: center;
    border: solid 1px black;
}
#susshi{
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}
#susshi img{
    width: 250px;
    height: 250px;
}